<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <header><%- include('../partials/header.ejs') %></header>
    <div class="container">
      <div class="menu-items">
        <h3><%= menu.name %></h3>
        <p><%= menu.description %></p>
        <img src="<%= menu.img %> " />
        <p>$<%= menu.price %></p>
        <p><%= menu.qty %></p>
        <p><%= menu.preparedBy %></p>
      </div>
    </div>
    <!-- <a href="/menu/<%= menu._id %>/edit">Edit <%= menu.name %></a>
    <a href="/menu">Menu</a> -->
  </body>
</html>
