<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
  <body class="show-body">
    <header><%- include('../partials/header.ejs') %></header>
    <div class="show-container">
      <div class="menu-items">
        <h3 class="show-title"><%= menu.name %></h3>
        <img src="<%= menu.img %> " />
        <p><%= menu.description %></p>
        <p>$<%= menu.price %></p>
        <p><%= menu.qty %></p>
        <p><%= menu.preparedBy %></p>
      </div>
    </div>
    <div class="show-nav">
      <div class="show-link">
        <a href="/menu/<%= menu._id %>/edit">Edit <%= menu.name %></a>
      </div>
      <div class="show-back-menu">
        <a href="/menu">Menu</a>
      </div>
    </div>
  </body>
</html>
